/* Hoja de estilos principal */

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }

/* Variables */
:root{
	/* Colors */
	--dark-violet: hsl(256, 26%, 20%);
	--grayish-blue: hsl(216, 30%, 68%);
	--very-dark-violet: hsl(270, 9%, 17%);
	--dark-grayish-violet: hsl(273, 4%, 51%);
	--very-light-gray: hsl(0, 0%, 98%);

	/* Fuentes */
	--heading: 'DM Serif Display', serif;
  	--body: 'Karla', sans-serif;
}

/* Diseño */
html {
    font-size: 16px;
    font-size: 1rem;
}
.home{
	width: 100vw;
	height: 577vh;
}
.page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 2% 29% 40% 29%;
	grid-template-columns: 100%;
}
.masthead{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 50% 50%;
	padding: 6%;
}
.masthead .logo{
	align-self: center;
	justify-self: start;
}
.masthead .menu-toggle{
	align-self: center;
	justify-self: end;
}
.masthead .main-navigation{
	display: none;
	background-color: var(--very-dark-violet);
	position: absolute;
	left: -6%;
	top: 11%;
	width: 106%;
	height: 89%;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	background-image: url('../images/bg-pattern-mobile-nav.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
}
.masthead .main-navigation ul{
	padding: 8% 6% 0 6%;
	justify-self: center;
	align-self: start;
	display: grid;
	grid-template-rows: repeat(4. 1fr);
	grid-template-columns: 100%;
	grid-row-gap: 6%;
	height: 50%;
	width: 88%;
	text-align: center;
}
.masthead .main-navigation .navigation-item{
	padding: 4% 0;
	align-self: center;
}
.masthead .main-navigation .navigation-item a{
	font-size: 16px;
	font-size: 1rem;
	font-family: var(--body);
    font-weight: 700;
	color: var(--very-light-gray);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.masthead #plans button{
	font-size: 16px;
	font-size: 1rem;
	font-family: var(--body);
    font-weight: 700;
	color: var(--very-light-gray);
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 2px solid var(--very-light-gray);
	background-color: var(--very-dark-violet);
	padding: 3% 20%;
}
.masthead #plans button:hover{
	background-color: var(--very-light-gray);
	color: var(--dark-violet);
	cursor: pointer;
}
.grid-container{
	display: grid;
	grid-template-rows: 39% 61%;
	grid-template-columns: 100%;
	background-color: var(--dark-violet);
}
.grid-container .entry-thumbnail{
	justify-self: center;
	align-self: center;
}
.grid-container .entry-thumbnail img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.grid-container .entry-content{
	display: grid;
	grid-template-rows: 27% 27% 19% 27%;
	grid-template-columns: 100%;
	background-color: var(--dark-violet);
}
.entry-content picture{
	grid-column: 1/2;
	width: 50%;
}
.entry-content #top{
	grid-row: 1/5;
	width: 50%;
}
.entry-content #bottom{
	grid-row: 3/5;
	width: 30%;
	justify-self: end;
}
.entry-content picture img{
	width: 100%;
	z-index: -10;
}
.entry-content .entry-tittle{
	grid-row: 1/2;
	grid-column: 1/2;
	padding: 0% 14%;
	justify-self: center;
	align-self: end;
	color: var(--very-light-gray);
	font-family: var(--heading);
	font-weight: 400;
	font-size: 36px;
	font-size: 2.25rem;
	text-align: center;
}
.entry-content .entry-summary{
	grid-row: 2/3;
	grid-column: 1/2;
	justify-self: center;
	align-self: center;
	color: var(--very-light-gray);
	font-family: var(--body);
	font-weight: 400;
	font-size: 12px;
	font-size: 0.75rem;
	text-align: center;
	letter-spacing: 2px;
	line-height: 2;
	padding: 0 6%;
}
.entry-content .entry-button{
	grid-row: 3/4;
	grid-column: 1/2;
	justify-self: center;
	align-self: start;
	background-color: var(--dark-violet);
	color: var(--very-light-gray);
	font-family: var(--body);
	font-weight: 400;
	font-size: 12px;
	font-size: 0.75rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 2px solid var(--very-light-gray);
	padding: 3% 8%;
}
.entry-content .entry-button:hover{
	background-color: var(--very-light-gray);
	color: var(--dark-violet);
	cursor: pointer;
}
.entry-content .entry-bg{
	grid-row: 4/5;
	grid-column: 1/2;
	background-color: white;
}
.entry-related{
	display: grid;
	grid-template-rows: 7% repeat(3, 18%) 37%;
	grid-template-columns: 100%;
}
.entry-related .aside-tittle{
	justify-self: center;
	align-self: start;
	font-size: 36px;
	font-size: 2.25rem;
	font-family: var(--heading);
	font-weight: 400;
}
.entry-related .grid-item{
	display: grid;
	grid-template-rows: 40% 15% 45%;
	grid-template-columns: 100%;
}
.entry-related .grid-item .entry-icon{
	width: 80%;
	height: 80%;
	object-fit: contain;
	justify-self: center;
	align-self: center;
}
.entry-related .grid-item .entry-tittle{
	justify-self: center;
	align-self: end;
	font-size: 22px;
	font-size: 1.375rem;
	font-family: var(--heading);
	font-weight: 400;
}
.entry-related .grid-item .entry-summary{
	padding: 0% 10%;
	justify-self: center;
	align-self: center;
	text-align: center;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: var(--body);
	font-weight: 400;
	color: var(--dark-grayish-violet);
	line-height: 1.7;
}
.entry-related .banner{
	margin: 30% 6%;
	background-color: var(--dark-violet);
	background-image: url('../images/bg-pattern-how-we-work-mobile.svg');
	background-repeat: no-repeat;
	background-position: top right;
	display: grid;
	grid-template-rows: 55% 45%;
	grid-template-columns: 100%;
}
.entry-related .banner .entry-tittle{
	justify-self: center;
	align-self: end;
	font-size: 32px;
	font-size: 2rem;
	font-family: var(--heading);
	font-weight: 400;
	color:var(--very-light-gray);
	text-align: center;
	padding: 0 12%;
	line-height: 1.2;
}
.entry-related .banner .entry-button{
	justify-self: center;
	align-self: center;
	font-size: 12px;
	font-size: 0.75rem;
	text-transform: uppercase;
	font-family: var(--body);
	font-weight: 700;
	letter-spacing: 2px;
	color:var(--very-light-gray);
	background-color: var(--dark-violet);
	border: 2px solid var(--very-light-gray);
	padding: 3% 8%;
}
.entry-related .banner .entry-button:hover{
	background-color: var(--very-light-gray);
	color: var(--dark-violet);
	cursor: pointer;
}
.footer{
	background-color: var(--very-light-gray);
	background-image: url('../images/bg-pattern-footer-mobile.svg');
	background-repeat: no-repeat;
	background-position: top;
	padding: 4%;
	display: grid;
	grid-template-rows: 8% 8% 84%;
	grid-template-columns: 100%;
}
.footer .footer-logo{
	justify-self: center;
	align-self: end;
}
.footer .social-container{
	justify-self: center;
	align-self: center;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(4, 1fr);
	width: 50%;
}
.footer .social-container li{
	justify-self: center;
	align-self: end;
}
.social-container .social-link a{
	color: var(--dark-grayish-violet);
	text-decoration: none;
	height: 100%;
	font-size: 24px;
	font-size: 1.5rem;
	font-family: var(--body);
	font-weight: 400;
}
.social-container .social-link a:hover{
	color: var(--very-dark-violet);
}
.footer .footer-navigation{
	margin: 5% 0;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
}
.footer .footer-navigation .navigation-headings{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows:  27% 27% 23% 23%;
	grid-template-columns: 100%;
}
.navigation-headings .navigation-item{
	width: 100%;
	height: 100%;
	justify-self: center;
	align-self: start;
	text-align: center;
	display: grid;
	grid-template-rows: 30% 70%;
	grid-template-columns: 100%;
}
.navigation-headings .navigation-item a{
	align-self: center;
	font-size: 12px;
	font-size: 0.75rem;
	color: var(--dark-grayish-violet);
	text-transform: uppercase;
	font-family: var(--body);
	font-weight: 700;
	letter-spacing: 2px;
}
.navigation-headings .navigation-item .navigation-childs{
	padding: 4%;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: 100%;
}
.navigation-childs .navigation-subitem{
	justify-self: center;
	align-self: center;
}
.navigation-childs .navigation-subitem a{
	color: var(--dark-violet);
}
.navigation-childs .navigation-subitem a:hover{
	text-decoration: underline;
	text-decoration-color: var(--dark-violet);
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
 @media (min-width: 768px) and (max-width: 1024px) {
	.masthead .main-navigation .navigation-item a{
		font-size: 20px;
		font-size: 1.25rem;
	}
	.masthead #plans button{
		font-size: 20px;
		font-size: 1.25rem;
	}
	.entry-content .entry-tittle{
		font-size: 40px;
		font-size: 2.5rem;
	}
	.entry-content .entry-summary{
		font-size: 16px;
		font-size: 1rem;
	}
	.entry-content .entry-button{
		font-size: 16px;
		font-size: 1rem;
	}
	.entry-related .aside-tittle{
		font-size: 40px;
		font-size: 2.5rem;
	}
	.entry-related .grid-item .entry-tittle{
		font-size: 26px;
		font-size: 1.625rem;
	}
	.entry-related .grid-item .entry-summary{
		font-size: 18px;
		font-size: 1.125rem;
	}
	.entry-related .banner .entry-tittle{
		font-size: 36px;
		font-size: 2.25rem;
		align-self: center;
	}
	.entry-related .banner .entry-button{
		font-size: 16px;
		font-size: 1rem;
	}
	.social-container .social-link a{
		font-size: 28px;
		font-size: 1.75rem;
	}
	.navigation-headings .navigation-item a{
		font-size: 16px;
		font-size: 1rem;
	}
 }

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px){
	.home{
		width: 100vw;
		height: 143vh;
	}
	.page{
		display: grid;
		grid-template-rows: 3% 41% 40% 16%;
		grid-template-columns: 100%;
	}
	.masthead{
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 60% 40%;
		padding: 0 11%;
	}
	.masthead .menu-toggle{
		display: none;
	}
	.masthead .main-navigation{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		background-color: transparent;
		padding: 0;
	}
	.masthead .main-navigation ul{
		padding: 0;
		justify-self: end;
		margin-left: 0;
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 30% 17% 23% 30%;
		grid-template-rows: 100%;
		grid-column-gap: 0;
	}
	.masthead .main-navigation .navigation-item{
		justify-self: end;
		align-self: center;
	}
	.masthead .main-navigation .navigation-item a{
		font-size: 7px;
		font-size: 0.4375rem;
		color: var(--dark-grayish-violet);
	}
	.masthead .main-navigation .navigation-item a:hover{
		cursor: pointer;
		color:var(--very-dark-violet)
	}
	.masthead #plans{
		width: 80%;
	}
	.masthead #plans button{
		font-size: 7px;
		font-size: 0.4375rem;
		color: var(--very-dark-violet);
		border: 2px solid var(--very-dark-violet);
		background-color: transparent;
		padding: 3% 10%;
	}
	.masthead #plans button:hover{
		background-color: var(--very-dark-violet);
		color: var(--very-light-gray);
	}
	.grid-container{
		display: grid;
		grid-template-rows: 10% 90%;
		grid-template-columns: 51% 49%;
	}
	.grid-container .entry-thumbnail{
		padding: 0 23% 0 0;
		grid-row: 2/3;
		grid-column: 2/3;
		justify-self: stretch;
		align-self: stretch;
		z-index: 10;
	}
	.grid-container .entry-content{
		grid-row: 1/3;
		grid-column: 1/3;
		display: grid;
		grid-template-rows: 34% 14% 16% 36%;
		grid-template-columns: 51% 49%;
		background-color: var(--dark-violet);
	}
	.entry-content #top{
		grid-column: 1/2;
		grid-row: 3/5;
		width: 25%;
	}
	.entry-content #bottom{
		grid-column: 2/3;
		grid-row: 1/3;
		width: 50%;
		justify-self: end;
		z-index: 20;
	}
	.entry-content .entry-tittle{
		margin-top: 0;
		padding: 0% 30% 0 22%;
		justify-self: start;
		align-self: end;
		font-size: 36px;
		font-size: 2.25rem;
		text-align: left;
	}
	.entry-content .entry-summary{
		justify-self: start;
		align-self: center;
		font-size: 9px;
		font-size: 0.5625rem;
		text-align: left;
		padding: 0 2% 0 22%;
	}
	.entry-content .entry-button{
		justify-self: start;
		align-self: start;
		margin-top: 2%;
		margin-left: 22%;
		text-align: left;
		padding: 1% 3%;
	}
	.entry-content .entry-bg{
		grid-row: 4/5;
		grid-column: 1/3;
	}
	.entry-related{
		padding: 0 11%;
		display: grid;
		grid-template-rows: 12% 46% 42%;
		grid-template-columns: repeat(3, 1fr);
	}
	.entry-related .aside-tittle{
		grid-column: 1/4;
		justify-self: start;
		align-self: start;
		font-size: 36px;
		font-size: 2.25rem;
	}
	.entry-related .grid-item{
		display: grid;
		grid-template-rows: 25% 15% 60%;
	}
	.entry-related .grid-item .entry-icon{
		justify-self: start;
		align-self: start;
		object-position: left;
	}
	.entry-related .grid-item .entry-tittle{
		justify-self: start;
		align-self: start;
		font-size: 18px;
		font-size: 1.125rem;
	}
	.entry-related .grid-item .entry-summary{
		padding: 0% 10% 0 0;
		justify-self: start;
		align-self: start;
		text-align: left;
		font-size: 12px;
		font-size: 0.75rem;
	}
	.entry-related .banner{
		grid-column: 1/4;
		margin: 0;
		background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 72% 28%;
		height: 80%;
	}
	.entry-related .banner .entry-tittle{
		align-self: center;
		font-size: 32px;
		font-size: 2rem;
		text-align: left;
		padding: 0 46% 0 12%;
	}
	.entry-related .banner .entry-button{
		justify-self: center;
		align-self: center;
		font-size: 9px;
		font-size: 0.5625rem;
	}
	.entry-related .banner .entry-button:hover{
		background-color: var(--very-light-gray);
		color: var(--dark-violet);
		cursor: pointer;
	}
	.footer{
		height: 100%;
		width: 100%;
		background-image: url('../images/bg-pattern-footer-desktop.svg');
		background-position: left top;
		padding: 0 11%;
		display: grid;
		grid-template-rows: 38% 62%;
		grid-template-columns: 50% 50%;
	}
	.footer .footer-logo{
		justify-self: start;
		align-self: center;
	}
	.footer .social-container{
		justify-self: end;
		width: 30%;
	}
	.footer .social-container li{
		justify-self: center;
		align-self: end;
	}
	.footer .footer-navigation{
		grid-column: 1/3;
		margin: 0;
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 100%;
	}
	.footer .footer-navigation .navigation-headings{
		display: grid;
		grid-template-rows:  100%;
		grid-template-columns: repeat(4, 1fr);
	}
	.navigation-headings .navigation-item{
		justify-self: start;
		text-align: left;
		display: grid;
		grid-template-rows: 20% 70%;
		grid-template-columns: 100%;
	}
	.navigation-headings .navigation-item a{
		align-self: center;
	}
	.navigation-headings .navigation-item .navigation-childs{
		padding: 6% 0;
		display: grid;
		grid-template-rows: repeat(4, 1fr);
		grid-template-columns: 100%;
	}
	.navigation-childs .navigation-subitem{
		justify-self: start;
		align-self: center;
	}
}
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
	.masthead .main-navigation .navigation-item a{
		font-size: 9px;
		font-size: 0.56rem;
	}
	.masthead #plans button{
		font-size: 9px;
		font-size: 0.56rem;
	}
	.entry-content .entry-tittle{
		font-size: 48px;
		font-size: 3rem;
	}
	.entry-content .entry-summary{
		font-size: 12px;
		font-size: 0.75rem;
	}
	.entry-related .aside-tittle{
		font-size: 48px;
		font-size: 3rem;
	}
	.entry-related .grid-item .entry-tittle{
		justify-self: start;
		font-size: 26px;
		font-size: 1.625rem;
	}
	.entry-related .grid-item .entry-summary{
		font-size: 18px;
		font-size: 1.125rem;
	}
	.entry-related .banner .entry-tittle{
		font-size: 38px;
		font-size: 2.375rem;
	}
	.entry-related .banner .entry-button{
		font-size: 12px;
		font-size: 0.75rem;
	}
}